* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #008080;
  --font-family: "Helvetica Neue", Helvetica, san-serif;
  --container-width: 600px;
  --window-padding: 20px;
  --form-margin-bottom: 20px;
  --button-margin-right: 10px;
  --title-bar-bg: #00008B;
  --title-bar-color: #fff;
  --link-color: #fff;
  --link-hover-color: #c0c0c0;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helveticaneue.woff2");
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
  background-color: var(--background-color);
}

img {
  height: 50px;
  filter: invert();
}

img:hover {
  filter: blur(1px);
}

/* NAVBAR */
.navbar {
  background-color: var(--title-bar-bg); /* Windows 98 style background */
  color: var(--title-bar-color); /* Windows 98 style text color */
  padding: 5px 10px;
  border-bottom: 2px solid black; /* Bottom border for Windows 98 look */
}

/* Remove 98.css shadow on the navbar-toggler button */
.navbar-toggler {
  box-shadow: none;
  border: none; /* Remove border and shadow */
}

/* Ensuring Bootstrap's default navbar toggler icon style is applied */
.navbar-toggler-icon {
  background-image: none;
  content: "\2630"; /* Unicode for hamburger icon */
  font-size: 1.5rem;
  color: var(--title-bar-color); /* Use the Windows 98 text color */
}

.nav-link {
  color: var(--link-color);
}

.nav-link:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

/* CONTAINER SETUP */
.container {
  max-width: var(--container-width);
}

/* WINDOW BODY PADDING */
.window-body {
  padding: var(--window-padding);
}

/* TYPOGRAPHY */
h1, h3 {
  font-family: var(--font-family);
}

/* FORM */
.form-group {
  margin-bottom: var(--form-margin-bottom);
}

/* BUTTONS */
button {
  margin-right: var(--button-margin-right);
}

/* RESULT INPUT */
#monthlyPayment,
#totalInterest {
  color: black;
  background-color: #f0f0f0; /* Light background for contrast */
  border: 1px solid #000; /* Add a black border for better visibility */
  font-weight: bold; /* Make the text bold */
}
